<mat-toolbar color="primary">
  <span>STARTER KIT</span>
  <span class="example-spacer"></span>
  <button class="btn1" mat-raised-button (click)="OpenLoginPage()">
    Login
  </button>
  <button class="btn2" mat-raised-button (click)="OpenRegisterPage()">
    Register
  </button>
</mat-toolbar>
