<div class="d-flex justify-content-center align-items-center mt-5">


    <div class="card">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item text-center">
                <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" role="tab"
                    aria-controls="pills-home" aria-selected="true">Please Register Here !!</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class="form px-4 pt-5">

                    <input type="text" name="" class="form-control" placeholder="First Name">
                    <input type="text" name="" class="form-control" placeholder="Last Name">
                    <input type="text" name="" class="form-control" placeholder="Email">
                    <input type="text" name="" class="form-control" placeholder="Mobile Number">
                    <input type="text" name="" class="form-control" placeholder="Password">
                    <p class="registeronclick" (click)="redirectToLogin()">If you are already registered user Please
                        <strong>Login</strong></p>
                    <button (click)="redirectToDashboard()" class="btn btn-dark btn-block">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>