<div class="d-flex justify-content-center align-items-center mt-5">


    <div class="card">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item text-center">
              <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Generate New Password!!</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              
              <div class="form px-4 pt-5">

                <input type="text" name="" class="form-control" placeholder="New Password">
                <input type="text" name="" class="form-control" placeholder="Repeat Password">
                <button (click)="generatePassword()" class="btn btn-dark btn-block">Generate</button>

              </div>



            </div>
          
            
           </div>
        
      
      

    </div>
    

  </div>